@media screen and (min-width: 1px) and (max-width : 990px){
    
    .hidden{
        display: none;
    }

    

    .fa-magnifying-glass{
        display: none !important;
    }

    .nav-Header-Middle{
        position: relative;
        left: 12px;
    }

    .nav-Header-Left{
        position: relative;
        left: 20px;
    }

  
}

    